<div class="learn-more-container">
  <section class="hero-section">
    <div class="hero-content">
      <h1>Welcome to CampusCrib</h1>
      <p class="hero-description">
        CampusCrib connects students with verified landlords, making it easier and safer to find the perfect student accommodation. 
      </p>
      <div class="hero-actions">
        <button mat-raised-button color="primary" routerLink="/registration">Get Started</button>
      </div>
    </div>
  </section>

  <section class="linked-data-connection">
    <div class="linked-data-content">
      <h1>More about location</h1>
      <p class="linked-data-description">
        Linked Data Functionality
      </p>
      <div class="hero-actions">
        <button mat-raised-button color="primary" routerLink="/registration">Plublish your data!</button>
      </div>
    </div>
  </section>

  <section class="linked-data-connection">
    <div class="linked-data-content">
      <h1>Consuming your data</h1>
      <p class="linked-data-description">
        Read your RDF File to display your data:
      </p>
    
    </div>
  </section>
 
</div>
